
Body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: blueviolet;  
  }  
  form{
    padding: 25px;   
          background-color: lightblue;   
  }
  .container{   
    padding: 45px;   
    background-color: lightblue;  
}
